

/*
Ivory #F9F9ED or #FCFBE8
Olivine #A1BA89
Macaroni and cheese #FFB17A
Outerspace #36413E
Turquoise green #BDD9BF

Orange-red #f05d5e
Moss - #898952
#829399
#DDD8C4 - bone
#e2d0be - darker bone

#FFF5E8 - camouflage
*/

body {
    background-color: #FCFBE8;
    font-family: 'VT323', monospace;
    font-size: 25px;
    color:#36413E;
}

h2{
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
}

#power1{
    float:left;
    width:280px;
    height:230px;
    background-color: rgba(255, 165, 130, 0.2);
    padding:2px;
    padding-left: 10px;
}

#power2{
    float:right;
    width:280px;
    height:230px;
    background-color: rgba(255, 165, 130, 0.2);
    padding:2px;
    padding-left: 10px;

}


#key{
    color:#FFB17A;
    background-color:aquamarine;
    
}

.smallpowerup1{
    font-size:20px;
}
#gameBoard{
    width:100%;
    height:85vh;
    position:relative;
}

#header h2{
    position:absolute;
    bottom:0px;
    margin-bottom: 2px;
    color: #F9F9ED;
    padding-bottom: 2px;
    font-size: 15px;
}

#resume, #pause{
    font-size: 20px;
}

#header {
    width:100%;
    height:10vh;
    background-color:#A1BA89;
    position:relative;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 1px;
    font-size: 15px;
}

#header #left {
    left:30px;
}

#header #right {
    right:30px;
}

#title {
    text-align: center;
    color: #F9F9ED;
    font-family: 'Press Start 2P', cursive;
    padding-top: 20px;
}

#leftstars{
    
    left: 320px;
    color:white;
    font-size: 150px;
    letter-spacing: 6px;
}

#rightstars{
    
    right: 320px;
    color:white;
    font-size: 150px;
    letter-spacing: 6px;
}

.paddle {
    width:10px;
    height:150px;
    background-color: #36413E;
}

#paddle1 {
    position:absolute;
    left:0px;
    top:35vh;
    background-color: #36413E;
}

#paddle2 {
    position:absolute;
    right:0px;
    top:35vh;
    background-color: #36413E;
}

#ball{
    
    position: absolute;
    left:50vw;
    top:50vh;
    width:25px;
    height: 25px;
    background-color: #FFB17A;
    border-radius: 50%;
}

/* control panel */

#controlpanel  {
    margin-top: 16px;
    position:absolute;
    top:10px;
    right:15px;
    z-index:1;
}

.controls {
    display:inline-block;
    padding:6px;
    width:80px;
    height: 18px;
    background-color: #FCFBE8;
    color:#898952;
    vertical-align: top;
    text-align:center;
    line-height: 20px;
    font-size: 0.7em;
    border-radius:15px;
}

.controls:hover {
    background-color: #BDD9BF;
    color: white;
    transition-duration: 0.3s;
}

#pause, #resume{
    width:20px;
}

#powerups{
    margin-right: 835px;
}
/* end control panel */

/* difficulty */

#difficultypanel  {
    margin-top: 1px;
    position:absolute;
    z-index:2;
}

.colors{
   display:inline-block;
    padding:6px;
    width:10px;
    height:10px;
    background-color: #A1BA89;
    vertical-align: top;
    text-align:center;
    line-height: 20px;
    font-size: 0.7em; 
    border-radius: 10px;
}

#colorone{
    margin-left: 190px;
    background-color: #FFB17A;
}

#colortwo{
    background-color: #829399;
}
.difficulty {
    display:inline-block;
    padding:6px;
    width:60px;
    height:18px;
    background-color: #A1BA89;
    color:white;
    vertical-align: top;
    text-align:center;
    line-height: 20px;
    font-size: 0.7em;
}

#difficultytitle{
    letter-spacing: 3px;
    text-align: center;
    font-size: 18px;
}

#easy{
    background-color: #FFB17A;
}

#message {
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
}
.messageone{
    font-family: 'Press Start 2P', cursive;
    color:#36413E;
}
 /* difficulty end */

/* lightbox */
.hidden {
    display: none;
}

.unhidden {
    display: block;
}

#lightbox, #lightbox2, #lightbox3 {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);  
    z-index:1;
}

.x {
    position: absolute;
    top: 10px;
    right: 10px;
    width:30px;
    height:30px;
    z-index:1;
}

.positionMessage {
    position:absolute;
    top:45px;
    left:0px;
    width:100%;
}

#boundaryMessage {
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 200px;
    background-color: rgba(255,255,255,0.88);
    z-index:1;
    padding:30px;
    border: thick solid #ebbe9b;
}

#boundaryMessage2 {
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 300px;
    background-color: rgba(255,255,255,0.88);
    z-index:1;
    padding:30px;
    border: thick solid #ebbe9b;
}


#boundaryMessage3 {
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 300px;
    background-color: rgba(255,255,255,0.88);
    z-index:1;
    padding:30px;
    border: thick solid #ebbe9b;
}

/* end lightbox */